<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <button type="submit"  onclick="Show_IPS()" >Mostrar ips</button>



    {% block closest_ips %}
            
    {% endblock closest_ips %}

</body>


<script
src="http://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>

<script>

"obtener latitud y longitud por medio de GPS"
function Show_IPS(){

 var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
    };

    function success(pos) {
    var crd = pos.coords;

    console.log('Your current position is:');
    console.log(`Latitude : ${crd.latitude}`);
    console.log(`Longitude: ${crd.longitude}`);
    console.log(`More or less ${crd.accuracy} meters.`);
    
    $.ajax({
    url: "/ips",
    type: "GET",
    data : {
        'lat': crd.latitude,
        'lon': crd.longitude
    },
    success: function (data) {
        console.log('success');
        window.location = "/ips"
    }
    });
    }

    function error(err) {
    console.warn(`ERROR(${err.code}): ${err.message}`);
        }

    navigator.geolocation.getCurrentPosition(success, error, options);

}

</script>

</html>